*,
::before,
::after {
  box-sizing: border-box;
}

.card {
  border-radius: 10px;
  position: absolute;
  width: 40ch;
}
.card-header {
  background-color: #52c8f2;
  color: #f9f6f3;
  padding: 0.5rem;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.card-body {
  color: #f9f6f3;
  background-color: #8a2be2;
  padding: 0.5rem;
  position: absolute;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 1rem;
}

.card-icon {
  background-color: #adff2f;
  color: #98c931;
  position: absolute;
  right: -1.5rem;
  top: 0;
}
.card-icon a {
  color: #98c931;
}
