#cabecera{
    background-image: url(img/imgPortada.jpg);
    background-position: center;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuadro{
    background-color: #0008;
    color: whitesmoke;
    padding-inline: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
